body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  color: #43A047;  
  font-family: 'Poppins', sans-serif;  
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}


.App {
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
}

.heatmap-container {
  margin: 20px auto;
}

.details {
  margin-top: 20px;
  text-align: left;
}

.details ul {
  list-style-type: none;
  padding: 0;
}

.details li {
  margin-bottom: 10px;
  background: #e8e8e8;
  padding: 10px;
  border-radius: 5px;
}

/* Heatmap Colors */
.color-empty {
  fill: #ebedf0;
}

.color-scale-1 {
  fill: #c6e48b;
}

.color-scale-2 {
  fill: #7bc96f;
}

.color-scale-3 {
  fill: #239a3b;
}

.color-scale-4 {
  fill: #196127;
}
